<h1>Welcome Student</h1>
<p>student works!</p>

<!--First Name-->
<!--<input #studentFirstName type="text">-->
<!--<br>-->

<!--Last Name-->
<!--<input #studentLastName type="text">-->
<!--<br>-->
<!--Student age-->
<!--<input #studentSalary type="number" required/>-->
<!--<br>-->
<!--<br>-->
<!--<button class="add-button" (click)="add(studentFirstName.value,studentFirstName.value,parseInt(studentSalary.value))">Add Student</button>-->

<p> Total number of students {{getStudentCount()}}</p>

<table class="my-table">
  <tr>
    <th>#</th>
    <th>Full Name</th>
    <th>Salary</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of getStudentsFromAPI();let currentIndex=index">
<!--    <td>{{currentIndex+1}}</td>-->
    <td>{{item.id}}</td>
    <td><a routerLink="/student/info/{{item.id}}">{{item.name}}</a></td>
    <td>
      <input type="number" [(ngModel)]="item.salary" >
      <br>
    </td>
    <td>
        <button class="btn btn-danger" (click)="remove(item.id)" >Delete</button>
        <button class="btn btn-success" (click)="update(item)">Save</button>
    </td>


  </tr>
</table>
